.comic-main-image {
  width: 100%;
  max-width: 27vw;
  height: auto;
  object-fit: cover;
  border-radius: 0.6vh;
  box-shadow: 0 2.4px 4.8px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.8vh;
}

.comic-details h2 {
  font-size: 1.8vw;
  font-weight: bold;
  color: #fff;
  margin: 0 0 1.2vh;
}

.comic-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  padding: 1.2vh 2.4vw;
  box-sizing: border-box;
}

.comic-description {
  font-size: 1vw;
  color: #ddd;
  max-width: 48vw;
  margin-bottom: 1.8vh;
  text-align: justify;
  line-height: 1.6;
  background-color: #444;
  border-radius: 0.6vh;
  padding: 0.6vh 1.2vw;
  box-shadow: 0px 1.2vh 1.8vh rgba(0, 0, 0, 0.1);
}

h3 {
  font-size: 1.2vw;
  font-weight: bold;
  color: #fff;
  margin-bottom: 1.2vh;
}

.characters-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2vw;
  justify-items: center;
}

.character-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e62429;
  padding: 1.2vw;
  border-radius: 0.6vh;
  box-shadow: 0 2.4px 4.8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  width: 48%;
}

.character-card:hover {
  transform: scale(1.05);
  z-index: 10;
}

.character-thumbnail {
  width: 100%;
  max-width: 18vw;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 1.2vh;
  box-shadow: 0 2.4px 4.8px rgba(0, 0, 0, 0.1);
}

.character-card p {
  font-size: 0.72rem;
  color: #fff;
  font-weight: bold;
  text-align: center;
}
